body {
	margin: 0;
	overflow: auto;
}

h3 {
	color: #737373;
}

h4 {
	color: #888888;
}

header, footer{
	width: 100%;
	height: 85px;
	background-color: #353232;
}

footer {
	text-align: center;
	color: white;
}

footer > span {
	display: block;
	font-size: 12px;
	font-weight: bolder;
	padding: 35px;
}

#nav h1 {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	color: white;
}

#nav ul {
	position: absolute;
	top: 0;
	right: 0;
	margin: 32px 0;
	padding: 0 20px;
	text-align: right;
}

#nav li {
	display: inline;
}

#nav a:link, #nav a:visited
{
	font-weight:bold;
	color:#FFFFFF;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

#article {
	position: static;
	width: 90%;
	padding: 0 5%;
	height: calc(100% - 85px);	
	background-color: #f7f7f7;
}

.page {
	display: inline-block;
	margin: 20px 0;
	padding: 1em 5%;
	width: 90%;
	border-color: #d6d6d6;
	border-width: 1px;
	border-style: solid;
	box-shadow: 3px 3px 2px #888888;
	background-color: white;
}

.page > p  {
	text-indent: 2em;
}

.page > p , .page li{
	font-size: 12pt;
	line-height: 200%;
}

.page > figure {
	display: inline-block;
	border-color: #d6d6d6;
	border-width: 1px;
	border-style: solid;
}

.page > figure > figcaption, .page > figure > img {
	display: block;
	margin: 20px;
	text-align: center;
}

.page table {
	width: 100%;
	border-collapse:collapse;
}

.page table, th, td {
	border: 1px solid #a2a2a2;
	text-align: left;
	vertical-align: middle;
	padding: 0.3em;
}

.page th {
	background-color: black;
	font-weight: bolder;
	color: white;
}

#column > h2 {
	border-left: solid 5px #737373;
	padding-left: 0.5em;
}

#column > form {
	display: block;
}

#column > form > div {
	display: inline-block;
	margin: 0.5em 0;
	padding: 0;
	width: 100%;
}

#column label, 
#column input, 
#column select,
#column textarea {
	display: block;
	float: left;
	margin: 5px 1%;
}

#column label {
	width: 33%;
	text-align: right;
}

#column p{
	color: #888888;
	margin-left: 36%;
}

#column span {
	display: inline-block;
	margin: 5px 1%;
	width: 3em;
}

#column textarea {
	width: 60%;
	height: 5em;
}

#column input[type="submit"] {
	border: 0;
	border-radius: 10px;
	width: 100%;
	height: 40px;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	background-color: #3262e0;
}