body, div, h1, h2, h3, h4, h5, h6, a, p, input, form, textarea {
	margin: 0;
	padding: 0;
	font-family: 'SimHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
	border: none;
	display: inline-block;
}

.clearfloat {
	zoom: 1;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

body {
	display: block;
	background-color: #FFFFFF;
	overflow: auto;
}

.middle {
	display: block;
	position: relative;
	width: 892px;
	margin: 0 auto;
}

header {
	height: 61px;
	border-bottom: 1px solid #938e8c;
}

footer {
	height: 59px;
	border-top: 1px solid #938e8c;
}

.main-container {
	height: 1263px;
}

.web-site, .date {
	display: inline-block;
	position: relative;
	font-size: 12px;
	width: 110px;
	height: 10px;
}

header > .web-site {
	float: left;
	color: #ffffff;
	background-color: #d45d5c;
	height: 100%;
}

header > .web-site > p {
	position: absolute;
	left: 8px;
	bottom: 8px;
}

header > .date {
	float: right;
	color: #d45d5c;
	height: 100%;
}

header > .date > p {
	position: absolute;
	right: 0;
	bottom: 8px;
}

footer > .web-site {
	position: absolute;
	right: 0;
	top: 0;
	color: #d45d5c;
	text-align: right;
}

.first {
	display: block;
	position: relative;
	height: 543px;
}

.second {
	display: block;
	position: relative;
	height: 609px;
	margin-top: 74px;
	margin-bottom: 39px;
}

.first .top {
	display: block;
	position: absolute;
	top: 34px;
	width: 100%;
	height: 300px;
}

.first .bottom {
	display: block;
	position: absolute;
	bottom: 0;
	height: 167px;
}

.top-right {
	display: inline-block;
	float: left;
	width: 640px;
	height: 100%;
	background-image: url(../images/bigpic.jpg);
}

.top-right > img {
	opacity: 0.5;
}

.top-right > img:nth-child(1){
	float: left;
}

.top-right > img:nth-child(2){
	float: right;
}

.top-left {
	display: inline-block;
	position: relative;
	float: right;
	width: 204px;
	height: 100%;
	border-top: 1px #cc8091 solid;
	font-family: "Microsoft YaHei";	
}

.top-left > p:nth-child(1){
	margin-top: 16px;
}

.top-left > p:nth-child(-n+2) {
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
}

.top-left > p:nth-child(-n+2):first-letter {
	font-size: 28px;
}

.top-left > p:nth-child(3) {
	font-size: 12px;
	line-height: 10px;
	font-family: 'KaiTi' !important;
	font-style: italic;
}

.top-left > p:nth-child(4) {
	position: absolute;
	bottom: 70px;
	font-size: 116px;
	line-height: 116px;
	font-weight: bolder;
	color: #75b86b;
}

.top-left > p:nth-child(5) {
	position: absolute;
	left: 10px;
	bottom: 0;
	font-size: 55px;
	line-height: 55px;
	color: #cc8091;
	width: 70px;
}

.top-left > p:nth-child(6) {
	position: absolute;
	left: 90px;
	bottom: 8px;
	font-size: 21px;
	line-height: 21px;
	color: #cc8091;
}

.top-left > p:nth-child(7) {
	position: absolute;
	left: 90px;
	bottom: 0;
	font-size: 12px;
	line-height: 14px;
	color: #cc8091;
}

.first .bottom {
	position: absolute;
	bottom: 0;
	height: 168px;
	color: #767777;
	font-size: 12px;
	line-height: 16px;
	font-family: 'SimSun';
}

.first .bottom .what {
	float: left;
	width: 255px;
}

.first .bottom .when {
	float: left;
	width: 234px;
}

.first .bottom .how {
	float: left;
	width: 153px;
}

.first .bottom > div > p:nth-child(1) {
	font-size: 16px;
	font-family: "Microsoft YaHei";	
	text-decoration: underline;
	margin-bottom: 12px;
}

.what .subtitle {
	color: #418c59;
}

.when .subtitle {
	color: #d2994f;
}

.how .subtitle {
	color: #cc7680;
}

.what p:nth-child(2) {
	width: 229px;
}

.when p:nth-child(2) {
	width: 205px;
}

.how p:nth-child(n+2) {
	width: 153px;
}

.how p {
	line-height: 21px;
}

.how > div > p {
	font-family: "Microsoft YaHei";	
	color: #000000;
}

.how > div > p > i {
	color: #e39998;
}

.second .left {
	display: inline-block;
	float: left;
	width: 415px;
	height: 100%;
}

.second .right {
	display: inline-block;
	float: right;
	width: 459px;
	height: 100%;
}

.second .left-top {
	border-bottom: 1px #11456b solid;
}

.second .left-top p {
	font-size: 33px;
	font-family: 'SimHei';
	font-weight: bolder;
	color: #11456b;
	line-height: 33px;
	margin-bottom: 16px;
}

.second > .left span {
	font-size: 50px;
	color: #f5e327;
}

.second .left-bottom {
	padding-top: 27px;
	text-align: justify;
	font-size: 12px;
	line-height: 16px;
	color: #767777;
}

.second .left-bottom span {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.second .left-bottom img {
	float: right;
	position: relative;
	clear: both;
	margin: 20px 0 20px 20px;
}

.second .right-top {
	background-image: url(../images/peitu1.jpg);
	height: 258px;
	position: relative;
	margin-bottom: 30px;
}

.second .right-bottom {
	height: 320px;
	background-color: #eeedd6;
}

.second .right-top .cover{
	position: absolute;
	bottom: 0;
	background-color: #9b9999;
	opacity: 0.4;
	width: 100%;
	height: 60px;
}

.right-top > span:nth-child(1) {
	position: absolute;
	bottom: 10px;
	left: 40px;
	padding-left: 10px;
	padding-top: 5px;
	vertical-align: middle;
	font-size: 26px;
	line-height: 26px;
	height: 1.5em;
	color: #ffffff;
	font-family: 'Micsoft YaHei';
	border-left: 4px solid #769a4c;
	z-index: 100;
	opacity: 1;
}

.right-top > span:nth-child(2) {
	position: absolute;
	bottom: 10px;
	left: 163px;
	font-style: italic;
	color: #769a4c;
}

.right-bottom .red-cover {
	display: inline-block;
	width: 228px;
	height: 86px;
	background-color: #d45d5c;
	float: left;
	padding: 44px 16px 32px 16px;
}

.right-bottom > .content > p:before {
	position: relative;
	top: -20px;
	left: -36px;
	float: left;
	height: 10px;
	width: 36px;
	content: "\201c";
    font-size: 72px;
    font-style: normal;
    color: #d45d5c;
}

.right-bottom > .content > p:after {
	position: relative;
	float: right;
	bottom: 5px;
	right: 20px;
	height: 20px;
	width: 36px;
	content: "\201d";
    font-size: 72px;
    font-style: normal;
    color: #d45d5c;
}

.red-cover > .a {
	display: inline-block;
	float: left;
	height: 100%;
	color: #ffffff;
	font-family: "Microsoft YaHei";
	font-size: 110px;
	margin-right: 16px;
}

.red-cover > .a > p {
	line-height: 80px;
	border-right: 3px solid #ffffff;
	text-align: center;
	vertical-align: middle;
}

.red-cover > .b > p:nth-child(1){
	color: #ffffff;
	font-size: 20px;
	line-height: 24px;	
	margin-bottom: 12px;
}

.red-cover > .b > p:nth-child(2){
	color: #ffffff;
	font-size: 12px;
	line-height: 12px;	
}

.right-bottom .content span {
	color: #d45d5c;
	font-size: 72px;
	line-height: 16px;
}

.right-bottom .content {
	display: inline-block;
	float: right;
	width: 167px;
	height: 130px;
	padding: 16px;
}

.right-bottom .nav {
	height: 96px;
	padding: 30px 23px 31px 31px;
}

.right-bottom .nav p {
	font-size: 14px;
	line-height: 20px;
	color: #5a5b5b;
	font-family: 'SimSun';
	text-align: justify;
	vertical-align: inherit;
	margin-bottom: 1em;
}

.right-bottom .nav i {
	font-size: 12px;
}

