body {
	margin: 0;
	min-width: 1000px;
	height: 100%;
	overflow: auto;
	background-color: #f7f7f7;
}

h3 {
	color: #737373;
}

h4 {
	color: #888888;
}

header, footer{
	width: 100%;
	height: 85px;
	background-color: #353232;
}

footer {
	text-align: center;
	color: white;
}

footer > span {
	display: block;
	font-size: 12px;
	font-weight: bolder;
	padding: 35px;
}

#nav h1 {
	display: inline-block;
	float: left;
	padding: 0 20px;
	color: white;
}

#nav ul {
	display: inline-block;
	float: right;
	margin: 32px 0;
	padding: 0 20px;
	text-align: right;
}

#nav li {
	display: inline;
}

#nav a:link, #nav a:visited
{
	font-weight:bold;
	color:#FFFFFF;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

#container {
	display: inline-block;
	margin-right: 416px;
	min-width: 584px;
	height: calc(100% - 85px);
}

#column {
	float: left;
	width: 400px;
	margin-left: -400px;
	position: relative;
	right: -400px;
}

#article {
	float: left;
	width: calc(100% - 4em);
	padding: 0 2em;
	height: 100%;
}

.page {
	display: inline-block;
	margin: 20px 1em 20px 0;
	padding: 1em 1em;
	width: calc(100% - 2em - 2.5px);
	border-color: #d6d6d6;
	border-width: 1px;
	border-style: solid;
	box-shadow: 3px 3px 2px #888888;
	background-color: white;
}

.page > p  {
	text-indent: 2em;
}

.page > p , .page li{
	font-size: 12pt;
	line-height: 200%;
}

.page > figure {
	display: inline-block;
	border-color: #d6d6d6;
	border-width: 1px;
	border-style: solid;
}

.page > figure > figcaption, .page > figure > img {
	display: block;
	margin: 1em auto;
	text-align: center;
}

.page > figure > img {
	max-width: calc(100% - 2em);
}

.page table {
	width: 100%;
	border-collapse:collapse;
}

.page table, th, td {
	border: 1px solid #a2a2a2;
	text-align: left;
	vertical-align: middle;
	padding: 0.3em;
}

.page th {
	background-color: black;
	font-weight: bolder;
	color: white;
}

#column > h2 {
	border-left: solid 5px #737373;
	padding-left: 0.5em;
}

#column > form {
	display: block;
}

form > .line {
	display: block;
	margin: 0.5em 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

form .col-1 {
	display: inline-block;
	float: left;
	padding: 0 2.5%;
	width: 35%;
	text-align: right;
}

form .col-2 {
	display: inline-block;
	float: right;
	padding: 0 2.5%;
	width: 55%;
	text-align: left;
}

form .col-2 span {
	margin: 0;
	color: #9e9e9e;
}

textarea {
	height: 5em;
}

#column input[type="submit"] {
	border: 0;
	border-radius: 10px;
	width: 100%;
	height: 40px;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	background-color: #3262e0;
}
