* {
	margin: 0;
	padding: 0;
}

#inout, #display, #sortBtn {
	margin: 20px;
}

input {
	height: 1.8em;
}

button {
	width: 5em;
	height: 2em;
	border-radius: 10px;
}

#display {
	display: flex;
	align-items: flex-end;
	height: 110px;
}

.element {
	display: inline-block;
	margin-right: 5px;
	padding: 0.5em;
	border-radius: 5px;
	background-color: #F07474;
	color: #ffffff;
	font-weight: bolder;
}