* {
	margin: 0;
	padding: 0px;
}

.container,
.main, .left, .right, 
.team-logo, .person-logo {
	border: 1px solid #999;
}

.bg-grey {
	background-color: #eee;
}

.bg-white {
	background-color: #ffffff;
}


.container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.left {
	display: flex;
    order: -1;
    flex: 0 0 200px;
    margin-right: 20px;

    padding: 20px;
    height: auto;    
}

.right {
    flex: 0 0 120px;
    margin-left: 20px;
    width: 120px; 
}

.left .team-logo {
	display: block;
	flex: 0 1 80px;
	height: 80px;
}

.left .team-name {
	margin-left: 20px;
	width: 80px;
	font-size: 18px;
	font-weight: bolder;
}

.right .person-logo {
	display: block;
	margin: 20px auto;
	width: 80px;
	height: 80px;
}

.main ol {
	padding: 0 1em;
}

.main p, .main li {
	line-height: 2em;
}

.main h2, .main h3 {
	line-height: 2.5em;
}

a {
	margin-right: 0.5em;
	padding: 0.5em;
	border: 1px solid;
	border-radius: 10px;
	background-color: #7ea7c7;
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	background-color: #fe389d;
}